I like to learn, so I tend to take a lot of courses. I learn best by doing, so I tend to seek out courses that either have me build something with guidance, or challenges me to solve problems myself.

This repo is a collection of all outputs of courses I've taken to date. I use this repo to provide myself documentation of past learnings, keep track of what I learned and when, and so I can easily pick up course work whatever device I happen to be on.

# Vanity Stats

I think it's fun to track how many courses I've taken, completed, and the total amount of time spent on them.

| #️⃣ Total           | 🟠 Doing          | 🟢 Done           | ⏱️ Est. Hours[^1]     |
| --------------- | -------------------- | ------------------- | --------------- |
| {{stats.total}} | {{stats.inProgress}} | {{stats.completed}} | {{stats.hours}} hrs ({{stats.humanizedDuration}}) |

Of the courses I've completed, the following topics have been covered:

{{#stats.topics}}
* {{name}} ({{tally}})
{{/stats.topics}}

# Courses

| Course Name | Course Provider | Status | Est. Hours[^1] | Files | Certificate |
| ----------- | --------------- | ------ | --------------- | ------ | ----------- |
{{#courses}}
| [{{name}}]({{&urls.course}}) | {{provider}} | {{#completed}}🟢 Done{{/completed}}{{^completed}}🟠 Doing{{/completed}} | {{#completed}}{{duration}}{{/completed}}{{^completed}}--{{/completed}} | {{#urls.source}}[Files]({{&urls.source}}){{/urls.source}} {{^urls.source}}--{{/urls.source}} | {{#urls.certificate}}[Certificate]({{&urls.certificate}}){{/urls.certificate}} {{^urls.certificate}}--{{/urls.certificate}} |
{{/courses}}

<sub>This document is auto-generated. It was last generated on {{currentDateTime}}.</sub>

[^1]: Time spent is an estimation of courses completed. Where a course makes clear how long the playback is, that's what is recorded here. It's likely more based on the practical time spent solving challenges or tweaking projects as elective further work.
